{% extends '::base.html.twig' %}

{% block body %}
<h1>Welcome to Recycle Batteries application</h1>

{% for type,messages in app.session.getFlashBag().all() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}" role="alert">
            <p>{{ message }}</p>
        </div>
    {% endfor %}
{% endfor %}

<p>Click <a href="{{ url('homepage') }}">here</a> to add new batteries box for recycling.</p>

<h2>Statistics</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Battery Type</th>
        <th>Total Count</th>
    </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.type }}</td>
                <td id="{{ stat.type }}">{{ stat.total }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}